
header{
  background-color: var(--background-alt-color);
  display: flex;
  top: 0;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

nav{
  margin-right: 4%;
}

ul{
  display: flex;
  gap: 40px;
}

li{
  list-style: none;
}

a{
  color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color: rgb(255, 255, 255);
}

